<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>

<h1 style="color:green;">This is the alpha-blog home page and I will be making modification(s) from time to time. Hope you guys love it</h1>


<%= image_tag 'images1.jpg' %>



<hr>

<footer align="center">&copy <em>2018 omololu</em></footer>

 