<div class="container">
  
  <footer class="footer">
    <small>copyright &copy; <a href="http//:www.alphablog.com">Alpha blog</a>
            by <a href="http//:www.omololu.com"> Omololu Adebowale</a>
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About" , about_path %></li>
      </ul>
    </nav>
    
  </footer>
</div>